.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PageBody {
  height: calc(100vh - 80px);
  margin-top: 80px;
}

table {
  width: 100%;
  border: 1px solid #EEEDEB;
}

thead tr {
  background-color: #f5f9fd;
  
}

tbody tr:nth-child(odd) {
  background-color: #F9F9F9; /* Background color for odd rows */
}

tbody tr:nth-child(even) {
  background-color: #FFFFFF; /* Background color for even rows */
}

tr td {
  border-bottom: 1px solid #d2e2ed
}

.case-detail-box a {
  text-decoration: underline;
}

  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
