.MainPage {
    width: calc(100vw - 192px);


}

.casePage {
    height: calc(100vh - 128px);
    overflow-y: auto;
}


.SideBarHeight {
    height: 100%;
    overflow: hidden;
}
.field-title {
    font-size: 15px;
    font-weight: 600;
    margin: 1.5em 0;
    color: #303030;
    
}

.fieldtitle::after {
    content: '';
    border-top: 1px solid #7dabcb;
    height: 1px;
    margin-top: -7px;
    display: block;
    width: 100%;

}